<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>账户明细</title>
    <meta content="app-id=984819816" name="apple-itunes-app" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link href="css/comm.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/accountdetail.css">
   
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    
<!--触屏版内页头部-->
<div class="m-block-header" id="div-header">
    <strong id="m-title">账户明细</strong>
    <a href="javascript:history.back();" class="m-back-arrow"><i class="m-public-icon"></i></a>
    <a href="/" class="m-index-icon"><i class="m-public-icon"></i></a>
</div>
<div class="total-money">
	<p class="m-title">我的余额</p>
	<p>￥0:00</p>
</div>
<div class="a-detail">
	<fieldset>
	    <legend align="center">账户明细</legend>
	</fieldset>
	<div class="detail-items">
		<ul class="clearfix">
			<li>
				<a href="" class="items-con clearfix">
					<div class="fl">
						<p class="account-sort">消费</p>
						<p>2017-06-30 11:11:17</p>
					</div>
					<div class="fr consume">
						<p>-5:00</p>
					</div>
				</a>
			</li>
			<li>
				<a href="" class="items-con clearfix">
					<div class="fl">
						<p class="account-sort">消费</p>
						<p>2017-06-30 11:11:17</p>
					</div>
					<div class="fr income">
						<p>+5:00</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
    


<div class="footer clearfix" style="display:none;">
    <ul>
        <li class="f_home"><a href="/v45/index.do" ><i></i>潮购</a></li>
        <li class="f_announced"><a href="/v45/lottery/" ><i></i>最新揭晓</a></li>
        <li class="f_single"><a href="/v45/post/index.do" ><i></i>晒单</a></li>
        <li class="f_car"><a id="btnCart" href="/v45/mycart/index.do" ><i></i>购物车</a></li>
        <li class="f_personal"><a href="/v45/member/index.do" ><i></i>我的潮购</a></li>
    </ul>
</div>
</body>
</html>
