<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<title>Document</title>
	<!-- <link rel="stylesheet" href="css/help.css"> -->
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/caculation.css">
</head>
<body>
	<div id="loadingwrapp">
		<div class="content">
			<div class="contentwrapp">
				<ul>
					<li class="result">
						<p>17662435700</p>
						<span>最终结果</span>
					</li>
					<li class="equal">
						<span>||</span>
					</li>
				</ul>
				<div class="step">
					<ul class="clearfix">
						<li class="fu">(<li>
						<li class="border">
							<p>30984570</p>
							<span>时间取值之和</span>
						</li>	
						<li class="fu">%</li>
						<li class="border">
							<p>56</p>
							<span>商品总需人次</span>
						</li>
						<li class="fu">)</li>
						<li class="fu">+</li>
						<li class="border">
							<p>198438500</p>
							<span>固定数值</span>
						</li>
						<div style="clear: both;"></div>

					</ul>
				</div>
				<p class="lip">截至该商品最后购买时间(2017-04-20 10:55:23)网站所有商品的100条购买时间记录取值之和</p>
			</div>
		</div>
		<div class="table-wrapp">
			<ul>
				<li class="title clearfix">
					<span class="time">潮购时间</span>
					<span class="change">转换时间</span>
					<span class="vip">会员</span>
				</li>
				<li class="clearfix">
					<span class="right">2017-04-20</span>
					<span class="right">11.25.56.236</span>
					<span class="red right">12558578</span>
					<span>翻山越岭来中</span>
				</li>
				<li class="clearfix">
					<span class="right">2017-04-20</span>
					<span class="right">11.25.56.236</span>
					<span class="red right">12558578</span>
					<span class="name">翻山越岭来中</span>
				</li>
				<li class="clearfix">
					<span class="right">2017-04-20</span>
					<span class="right">11.25.56.236</span>
					<span class="red right">12558578</span>
					<span class="name">翻山越岭来中</span>
				</li>
				<li class="clearfix">
					<span class="right">2017-04-20</span>
					<span class="right">11.25.56.236</span>
					<span class="red right">12558578</span>
					<span class="name">翻山越岭来中</span>
				</li>
				<li class="clearfix">
					<span class="right">2017-04-20</span>
					<span class="right">11.25.56.236</span>
					<span class="red right">12558578</span>
					<span class="name">翻山越岭来中</span>
				</li>
				<li class="clearfix">
					<span class="right">2017-04-20</span>
					<span class="right">11.25.56.236</span>
					<span class="red right">12558578</span>
					<span class="name">翻山越岭来中</span>
				</li>
				<li class="clearfix">
					<span class="right">2017-04-20</span>
					<span class="right">11.25.56.236</span>
					<span class="red right">12558578</span>
					<span class="name">翻山越岭来中</span>
				</li>
				<li class="clearfix">
					<span class="right">2017-04-20</span>
					<span class="right">11.25.56.236</span>
					<span class="red right">12558578</span>
					<span class="name">翻山越岭来中</span>
				</li>
				<li class="clearfix">
					<span class="right">2017-04-20</span>
					<span class="right">11.25.56.236</span>
					<span class="red right">12558578</span>
					<span class="name">翻山越岭来中</span>
				</li>
				<li class="clearfix">
					<span class="right">2017-04-20</span>
					<span class="right">11.25.56.236</span>
					<span class="red right">12558578</span>
					<span class="name">翻山越岭来中</span>
				</li>
				<li class="clearfix">
					<span class="right">2017-04-20</span>
					<span class="right">11.25.56.236</span>
					<span class="red right">12558578</span>
					<span class="name">翻山越岭来中</span>
				</li>
				<li class="clearfix">
					<span class="right">2017-04-20</span>
					<span class="right">11.25.56.236</span>
					<span class="red right">12558578</span>
					<span class="name">翻山越岭来中</span>
				</li>
				<li class="clearfix">
					<span class="right">2017-04-20</span>
					<span class="right">11.25.56.236</span>
					<span class="red right">12558578</span>
					<span class="name">翻山越岭来中</span>
				</li>
				<li class="clearfix">
					<span class="right">2017-04-20</span>
					<span class="right">11.25.56.236</span>
					<span class="red right">12558578</span>
					<span class="name">翻山越岭来中</span>
				</li>
				<li class="clearfix">
					<span class="right">2017-04-20</span>
					<span class="right">11.25.56.236</span>
					<span class="red right">12558578</span>
					<span class="name">翻山越岭来中</span>
				</li>
			</ul>
			
		</div>
		<div class="zhan">
			<span><i></i>展开所有</span>
		</div>

	</div>
	<script src="js/jquery-1.8.3.min.js"></script>
	<script>

		var deviceWidth = document.documentElement.clientWidth;
		document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		// if(deviceWidth > 750) deviceWidth = 750;
		document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
		$('.zhan').toggle(
			function(){
				var height = $('.table-wrapp ul').height();

				$('.table-wrapp').css({overflow:'visible',height:height})
				$(this).children('span').html("<i></i>"+"收起");
				$(this).children('span').children('i').css({backgroundPosition:'0px 0px',top:'.24rem'});
			},
			function(){
				$('.table-wrapp').css({overflow:'hidden',height:'9rem'})
				$(this).children('span').html("<i></i>"+"展开所有");
				
			}
		)
	</script>
</body>
</html>