<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>银行卡</title>
    <meta content="app-id=984819816" name="apple-itunes-app" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="css/sm.css">
    <link href="css/comm.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/card.css">
    
    <!-- SUI mobile -->
   
    <!-- <script src="js/jquery-1.11.2.min.js"></script> -->
</head>
<body>
    
<!--触屏版内页头部-->
<div class="m-block-header" id="div-header">
    <strong id="m-title">佣金提现</strong>
    <a href="javascript:history.back();" class="m-back-arrow"><i class="m-public-icon"></i></a>
    <a href="/" class="m-index-icon"><i class="m-public-icon"></i></a>
</div>
<div class="card cardwrapper">
	<div class="cardinfo clearfix">
		<p class="cardname">招商银行</p>
		<h4 class="cardsort">储蓄卡</h4>
		<span>*** *** *** 9483</span>
	</div>
</div>
<div class="card-bottom">
	<span>添加银行卡</span>
	<s></s>
</div>
	
</body>
</html>
