<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>奖品确认</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link href="css/c-password.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="layui/css/layui.css">
    <link href="css/comm.css" rel="stylesheet" type="text/css">
    <link href="css/buyrecord.css" rel="stylesheet" type="text/css">
    <link href="css/giftconfirm.css" rel="stylesheet" type="text/css">

    
</head>
<body>
    
<!--触屏版内页头部-->
<div class="m-block-header" id="div-header">
    <strong id="m-title">奖品确认</strong>
    <a href="javascript:history.back();" class="m-back-arrow"><i class="m-public-icon"></i></a>
    <a href="/" class="m-index-icon"></a>
</div>
<div class="status">
    <img src="images/getcard.png" alt="">
</div>
<div class="line"></div>
<div class="getshop getcard">
    <div class="shopsimg fl">
        <img src="./images/goods2.jpg" alt="">
    </div>
    <div class="shopsinfo">
        <h3>(第<i>52</i>潮)统一来一桶老坛酸菜牛肉面120g/桶X12桶 整箱装</h3>
        <p class="price">价值：￥<i>59.00</i></p>
        <p>订单号：C17061673490875027850</p>
    </div>
</div>
<div class="line"></div>
<div class="aggrement">
    <i class="gou"></i><a href="">我已阅读并同意《666潮人购购物协议》</a>
</div>
<div class="detail">
    <span>查看详情</span>
</div>
<div class="part">
    <span class="fl">手气不错，要乘胜追击呦！</span>
    <span class="fr againpart">再次参与</span>
</div>
<div id="cardinfo" style="display: none">
        <span class="tip">恭喜您中奖啦</span>
        <div class="cardimg">
            <img src="images/goods1.jpg" alt="">
            <span>(第1潮购)虚拟商品66666</span>
        </div>
        <p class="cardtitle clearfix">卡密/兑换码派发：</p>
        <div class="cardopera">
        <span class="cardname">卡密</span><span class="watch">点击查看密码</span>
        <span class="copy">复制</span>
        </div>
    </div>




<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/all.js"></script>
<script src="layui/layui.js"></script>
<script>
    $('.detail span').click(function(){
        layer.open({
            area:['310px','auto'],
            type: 1,
            title: false,
            content: $('#cardinfo')
        })
    })
</script>
</script>
</body>
</html>
