<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta name="format-detection" content="telephone=no" />
	<title>帮助与反馈</title>
	<link rel="stylesheet" href="css/help.css">

</head>
<body>
	<div id="loadingwrapp">
		<div class="contact">
			<div class="contactwrapp">
				<aside class="tel"> 
					<div class="telwrrap clearfix">
						<a href=""><img src="images/contact.png" alt=""></a>
						<div class="telcon">
							<h4>唯一官方客服电话</h4>
							<span>400-666-2110</span><br>
							<span class="time">上班时间&nbsp; 9:00-5:00</span>
						</div>
					</div>
				</aside>
				<aside class="qq">
					<div class="telwrrap">
						<a href=""><img src="images/youxiang.png" alt=""></a>
						<div class="qqcon">
							<h4>唯一官方邮箱</h4>
							<span>400-666-2110</span>
						</div>
					</div>
				</aside>
			</div>
		</div>
		<div class="listitems">
			<ul>
				<li>
					<a href="aboutsite.html" class="clearfix">
						<span class="itemsleft">关于666潮人购</span>
						<span class="itemsright">潮人购相关答疑<i></i></span>
					</a>
				</li>
				<li>
					<a href="account-safe.html" class="clearfix">
						<span class="itemsleft">账户安全</span>
						<span class="itemsright">手机丢失、账号安全设置问题<i></i></span>
					</a>
				</li>
				<li>
					<a href="cart/payment.html" class="clearfix">
						<span class="itemsleft">支付交易问题</span>
						<span class="itemsright">支付充值等相关问题<i></i></span>
					</a>
				</li>
				<li>
					<a href="express.html" class="clearfix">
						<span class="itemsleft">订单发货物流</span>
						<span class="itemsright">发货时间，物流信息相关<i></i></span>
					</a>
				</li>
				<li>
					<a href="customer-service.html" class="clearfix">
						<span class="itemsleft">售后问题</span>
						<span class="itemsright">商品售后相关<i></i></span>
					</a>
				</li>
				<li>
					<a href="other.html" class="clearfix">
						<span class="itemsleft">其他问题</span>
						<span class="itemsright">晒单等相关<i></i></span>
					</a>
				</li>
				<li>
					<a href="contactour.html" class="clearfix">
						<span class="itemsleft">联系我们</span>
						<span class="itemsright">合作<i></i></span>
					</a>
				</li>
			</ul>
		</div>

	</div>
	<script>
		var deviceWidth = document.documentElement.clientWidth;
		document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		// if(deviceWidth > 750) deviceWidth = 750;
		document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
	</script>
</body>
</html>