<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>邀请成员</title>
    <meta content="app-id=984819816" name="apple-itunes-app" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link href="css/comm.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/inviterecord.css">
   
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    
<!--触屏版内页头部-->
<div class="m-block-header" id="div-header">
    <strong id="m-title">邀请成员</strong>
    <a href="javascript:history.back();" class="m-back-arrow"><i class="m-public-icon"></i></a>
    <a href="/" class="m-index-icon"><i class="m-public-icon"></i></a>
</div>
<div class="member-wrapper">
	<p>成功邀请的好友（<i>2</i>）</p>
	<ul>
		<li class="clearfix">
			<span class="fl">天天中奖我都不好意思了</span>
			<span class="fr">2017-04-05 15:34:09</span>
		</li>
		<li class="clearfix">
			<span class="fl">天天中奖我都不好意思了</span>
			<span class="fr">2017-04-05 15:34:09</span>
		</li>
	</ul>
</div>

</body>
</html>
