<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <title>最新揭晓</title>
    <meta content="app-id=518966501" name="apple-itunes-app" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link href="css/comm.css" rel="stylesheet" type="text/css" /><link href="css/lottery.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="layui/css/layui.css">

</head>
<body id="loadingPicBlock" fnav="1" class="g-acc-bg">
    
    <div class="column-wrapper">
        <div class="column-inner">
            <!--首页头部-->
            <div class="m-block-header">
                <div class="search"></div>
                <a href="/" class="m-public-icon m-1yyg-icon"></a>
            </div>
            <!--首页头部 end-->
            <div id="div_sort" class="g-announced-title gray9">
                <span>
                    <a href="javascript:;" class="z-set fr"></a>
                    <span>全部分类</span>
                    <cite style="display: none;"><em></em></cite>
                </span>
                <!--分类-->
                <div class="announced-sort" style="display: none;">
                    <a href="javascript:;" class="orange" type="0">全部分类</a>
                    <a href="javascript:;" type="100">手机数码</a>
                    <a href="javascript:;" type="106">电脑办公</a>
                    <a href="javascript:;" type="104">家用电器</a>
                    <a href="javascript:;" type="2">化妆个护</a>
                    <a href="javascript:;" type="397">食品饮料</a>
                    <a href="javascript:;" type="213">家居家纺</a>
                    <a href="javascript:;" type="222">钟表首饰</a>
                    <a href="javascript:;" type="251">礼品箱包</a>
                    <a href="javascript:;" type="276">运动户外</a>
                    <a href="javascript:;" type="312">其他商品</a>
                    <a href="javascript:;" type="-1">&nbsp;</a>
                </div>
            </div>
        </div>
    </div>
    <!--分类筛选遮罩-->
    <div class="weixin-mask" style="display: none;"></div>
    <div class="marginB">
        <!--<div class="revCon" >
        </div>-->

        <div class="rev-con">
            <ul class="rev-list" id="divLottery">
                <li id="12790367">  
                    <div class="pro-img">
                        <img class="lazy" data-original="https://img.1yyg.net/goodspic/pic-200-200/20170310160621945.jpg">
                    </div>  
                    <div class="pro-info">      
                        <h6 class="pro-title gray6">(第238371潮) 平安银行 平安福金章 Au9999 2g</h6>        
                        <p class="gray9">价值：￥<em>650.00</em></p>        
                        <p class="gray9">揭晓倒计时：</p>         
                        <div class="pro-state">         
                            <div class="time-wrapper" value="1500631200">              
                                <em>02</em>             
                                <span>:</span>              
                                <em>35</em>             
                                <span>:</span>              
                                <em>                    
                                    <i>7</i><i>4</i>                
                                </em>           
                            </div>      
                        </div>  
                    </div>
                </li>
                <li id="12790367">  
                    <div class="pro-img">
                        <img class="lazy" data-original="https://img.1yyg.net/goodspic/pic-200-200/20170310160621945.jpg">
                    </div>  
                    <div class="pro-info">      
                        <h6 class="pro-title gray6">(第238371潮) 平安银行 平安福金章 Au9999 2g</h6>        
                        <p class="gray9">价值：￥<em>650.00</em></p>        
                        <p class="gray9">揭晓倒计时：</p>         
                        <div class="pro-state">         
                            <div class="time-wrapper" value="1500631200">              
                                <em>02</em>             
                                <span>:</span>              
                                <em>35</em>             
                                <span>:</span>              
                                <em>                    
                                    <i>7</i><i>4</i>                
                                </em>           
                            </div>      
                        </div>  
                    </div>
                </li>
                <li id="12790367">  
                    <div class="pro-img">
                        <img class="lazy" data-original="https://img.1yyg.net/goodspic/pic-200-200/20170310160621945.jpg">
                    </div>  
                    <div class="pro-info">      
                        <h6 class="pro-title gray6">(第238371潮) 平安银行 平安福金章 Au9999 2g</h6>        
                        <p class="gray9">价值：￥<em>650.00</em></p>        
                        <p class="gray9">揭晓倒计时：</p>         
                        <div class="pro-state">         
                            <div class="time-wrapper" value="1500631200">              
                                <em>02</em>             
                                <span>:</span>              
                                <em>35</em>             
                                <span>:</span>              
                                <em>                    
                                    <i>7</i><i>4</i>                
                                </em>           
                            </div>      
                        </div>  
                    </div>
                </li>
                <li id="12790367">  
                    <div class="pro-img">
                        <img class="lazy" data-original="https://img.1yyg.net/goodspic/pic-200-200/20170310160621945.jpg">
                    </div>  
                    <div class="pro-info">      
                        <h6 class="pro-title gray6">(第238371潮) 平安银行 平安福金章 Au9999 2g</h6>        
                        <p class="gray9">价值：￥<em>650.00</em></p>        
                        <p class="gray9">揭晓倒计时：</p>         
                        <div class="pro-state">         
                            <div class="time-wrapper" value="1500631200">              
                                <em>02</em>             
                                <span>:</span>              
                                <em>35</em>             
                                <span>:</span>              
                                <em>                    
                                    <i>7</i><i>4</i>                
                                </em>           
                            </div>      
                        </div>  
                    </div>
                </li>
                <li id="12790367">  
                    <div class="pro-img">
                        <img class="lazy" data-original="https://img.1yyg.net/goodspic/pic-200-200/20170310160621945.jpg">
                    </div>  
                    <div class="pro-info">      
                        <h6 class="pro-title gray6">(第238371潮) 平安银行 平安福金章 Au9999 2g</h6>        
                        <p class="gray9">价值：￥<em>650.00</em></p>        
                        <p class="gray9">揭晓倒计时：</p>         
                        <div class="pro-state">         
                            <div class="time-wrapper" value="1500631200">              
                                <em>02</em>             
                                <span>:</span>              
                                <em>35</em>             
                                <span>:</span>              
                                <em>                    
                                    <i>7</i><i>4</i>                
                                </em>           
                            </div>      
                        </div>  
                    </div>
                </li>
                <li id="12790367">  
                    <div class="pro-img">
                        <img class="lazy" data-original="https://img.1yyg.net/goodspic/pic-200-200/20170310160621945.jpg">
                    </div>  
                    <div class="pro-info">      
                        <h6 class="pro-title gray6">(第238371潮) 平安银行 平安福金章 Au9999 2g</h6>        
                        <p class="gray9">价值：￥<em>650.00</em></p>        
                        <p class="gray9">揭晓倒计时：</p>         
                        <div class="pro-state">         
                            <div class="time-wrapper" value="1500631200">              
                                <em>02</em>             
                                <span>:</span>              
                                <em>35</em>             
                                <span>:</span>              
                                <em>                    
                                    <i>7</i><i>4</i>                
                                </em>           
                            </div>      
                        </div>  
                    </div>
                </li>
                <li id="12790367">  
                    <div class="pro-img">
                        <img class="lazy" data-original="https://img.1yyg.net/goodspic/pic-200-200/20170310160621945.jpg">
                    </div>  
                    <div class="pro-info">      
                        <h6 class="pro-title gray6">(第238371潮) 平安银行 平安福金章 Au9999 2g</h6>        
                        <p class="gray9">价值：￥<em>650.00</em></p>        
                        <p class="gray9">揭晓倒计时：</p>         
                        <div class="pro-state">         
                            <div class="time-wrapper" value="1500631200">              
                                <em>02</em>             
                                <span>:</span>              
                                <em>35</em>             
                                <span>:</span>              
                                <em>                    
                                    <i>7</i><i>4</i>                
                                </em>           
                            </div>      
                        </div>  
                    </div>
                </li>
                <li id="12790367">  
                    <div class="pro-img">
                        <img class="lazy" data-original="https://img.1yyg.net/goodspic/pic-200-200/20170310160621945.jpg">
                    </div>  
                    <div class="pro-info">      
                        <h6 class="pro-title gray6">(第238371潮) 平安银行 平安福金章 Au9999 2g</h6>        
                        <p class="gray9">价值：￥<em>650.00</em></p>        
                        <p class="gray9">揭晓倒计时：</p>         
                        <div class="pro-state">         
                            <div class="time-wrapper" value="1500631200">              
                                <em>02</em>             
                                <span>:</span>              
                                <em>35</em>             
                                <span>:</span>              
                                <em>                    
                                    <i>7</i><i>4</i>                
                                </em>           
                            </div>      
                        </div>  
                    </div>
                </li>
            </ul>
        </div>

        <div id="divLoading" class="loading clearfix g-acc-bg"><b></b>正在加载</div>
    </div>
    
<div class="footer clearfix">
    <ul>
        <li class="f_home"><a href="/v41/index.do" ><i></i>潮购</a></li>
        <li class="f_announced"><a href="/v41/lottery/"><i></i>所有商品</a></li>
        <li class="f_single"><a href="/v41/post/index.do"  class="hover"><i></i>最新揭晓</a></li>
        <li class="f_car"><a id="btnCart" href="/v41/mycart/index.do" ><i></i>购物车</a></li>
        <li class="f_personal"><a href="/v41/member/index.do" ><i></i>我的潮购</a></li>
    </ul>
</div>
<div id="div_fastnav" class="fast-nav-wrapper">
    <ul class="fast-nav">
        <li id="li_menu" isshow="0">
            <a href="javascript:;"><i class="nav-menu"></i></a>
        </li>
        <li id="li_top" style="display: none;">
            <a href="javascript:;"><i class="nav-top"></i></a>
        </li>
    </ul>
    <div class="sub-nav four" style="display: none;">
        <a href="#"><i class="announced"></i>最新揭晓</a>
        <a href="#"><i class="single"></i>晒单</a>
        <a href="#"><i class="personal"></i>我的潮购</a>
        <a href="#"><i class="shopcar"></i>购物车</a>
    </div>
</div>
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/lazyload.min.js"></script>
<script src="layui/layui.js"></script>
<script>
   
        jQuery(document).ready(function() {
            $("img.lazy").lazyload({
                placeholder : "images/loading2.gif",
                effect: "fadeIn",
            });


        });
    
</script>
<script>

	
	$(window).scroll(function(){
	    if($(window).scrollTop()>44){    //垂直滚动条钓offset 大于90时。
	        $(".m-block-header").css({
	            "display":"none",       //修改相关div样式
	        });
	    }else{
	    	$(".m-block-header").css({
	            "display":"block",       //修改相关div样式
	        });
	    }

        if($(window).scrollTop()>200){
            $('#li_top').css('display','block');
        }else{
            $('#li_top').css('display','none');
        }

        
	});

	// 返回顶部点击事件
	$('#div_fastnav #li_menu').click(
        function(){
            if($('.sub-nav').css('display')=='none'){
                $('.sub-nav').css('display','block');
            }else{
                $('.sub-nav').css('display','none');
            }
            
        }
    )
    $("#li_top").click(function(){ 
        $('html,body').animate({scrollTop:0},300);
        return false; 
    }); 
	// 鼠标滚动事件
	function disabledMouseWheel() {  
		if(document.addEventListener){  
		    document.addEventListener('DOMMouseScroll', scrollFunc, false);  
		}//W3C  
		  window.onmousewheel = document.onmousewheel = scrollFunc;//IE/Opera/Chrome  
	}  
	function scrollFunc(evt) {  
	  evt = evt || window.event;  
	    if(evt.preventDefault) {  
	    // Firefox  
	      evt.preventDefault();  
	      evt.stopPropagation();  
	    } else{  
	      // IE  
	      evt.cancelBubble=true;  
	      evt.returnValue = false;  
	  }  
	  return false;  
	}   

	// 点击分类遮罩层出现
	$('.g-announced-title').click(

		function(){
			if($('.announced-sort').css('display')=='none'){
				$('.announced-sort').css('display','block');
				$('.weixin-mask').css('display','block');
			}else{
				$('.announced-sort').css('display','none');
				$('.weixin-mask').css('display','none');
			}

			$('.weixin-mask').click(function(){
				$('.announced-sort').css('display','none');
				$('.weixin-mask').css('display','none');
				return false;
			})

			disabledMouseWheel();	
		},
		function(){
			if($('.weixin-mask').css('display')=='block'){
				$('.announced-sort').css('display','none');
				$('.weixin-mask').css('display','none');
			}
			else{
				$('.announced-sort').css('display','block');
				$('.weixin-mask').css('display','block');
			}
			

		}
	)

    // 流加载
    layui.use('flow', function(){
      var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
      var flow = layui.flow;
      flow.load({
        elem: '#divLottery' //指定列表容器
        ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
          var lis = [];
          //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
          $.get('', function(res){
            //假设你的列表返回在data集合中
            layui.each(res.data, function(index, item){
              lis.push('<li>'+ item.title +'</li>');
            }); 
            
            //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
            //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
            next(lis.join(''), page < res.pages);    
          });
        }
      });
    });
</script>
<script src="js/all.js"></script>
</body>
</html>
