<!DOCTYPE html>
<html>
<head>
    <title>网银充值</title>
    <meta content="app-id=984819816" name="apple-itunes-app">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link href="css/comm.css" rel="stylesheet" type="text/css">
    <link href="css/account.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.8.3.min.js"></script> 
</head>
<body>
    
<!--触屏版内页头部-->
<div class="m-block-header" id="div-header" style="display: block;">
    <strong id="m-title">网银充值</strong>
    <a href="javascript:history.back();" class="m-back-arrow"><i class="m-public-icon"></i></a>
    <a href="/" class="m-index-icon"></a>
</div>
<div class="acc-menu g-rechargeNav">
    <a href="Recharge.do" class="z-checked">网银充值</a>
   
</div>
<div class="g-accounts-details">
    <h4 class="gray9">您当前账户总额：<em class="orange">￥0.00</em></h4>
</div>
<div class="g-Recharge clearfix">
    <ul id="ulOption">
        <li money="50" class="checked"><a href="javascript:;" value="50">50元</a><s class="z-set"></s></li>
        <li money="100" class=""><a href="javascript:;" value="100">100元</a><s class="z-set"></s></li>
        <li money="200" class=""><a href="javascript:;" value="200">200元</a><s class="z-set"></s></li>
        <li money="500" class=""><a href="javascript:;" value="500">500元</a><s class="z-set"></s></li>
        <li money="1000" class=""><a href="javascript:;" value="1000">1000元</a><s class="z-set"></s></li>
        <li>
            <a href="javascript:;" value="0" style="display: none;"></a><input type="text" placeholder="请输入" maxlength="8"><s class="z-set"></s></li>
    </ul>
</div>
<div class="g-accounts-details">
    <h4 class="gray6">充值金额<i class="orange" id="iRechargeMoney" value=" ">50.00</i>元</h4>
</div>
<div class="online-banking clearfix">
    <dl id="ulBankList">
        <dt><a href="javascript:;">选择网银</a></dt>
         <dd class="checked zfbPay" type="jdPay">
            <a href="javascript:;"></a>
           <s class="z-set"></s>

        </dd>
        <dd class="checked kq" type="kqPay">
            <a href="javascript:;"></a>
           <s class="z-defalt"></s>

        </dd>
    </dl>   
</div>
<div class="f-Recharge-btn">
    <a id="btnSubmit" href="javascript:;" class="orangeBtn">确认充值</a>
</div>
<script>
    $('.g-Recharge li' ).click(function(){
        $(this).addClass('checked').siblings('li').removeClass('checked');
        var currValue = $(this).children('a').attr('value')+'.00';
        console.log(currValue);
        $('#iRechargeMoney').text(currValue);
    })
    // 选择支付方式
    
    $('.online-banking dd').toggle(
        function(){
            if($(this).children('s').hasClass('z-set')){
               
            }else{
                $(this).children('s').removeClass('z-defalt').addClass('z-set');
                $(this).siblings('dd').children('s').removeClass('z-set').addClass('z-defalt');
            }   
        },
        function(){
            if($(this).children('s').hasClass('z-defalt')){
                $(this).children('s').removeClass('z-defalt').addClass('z-set');
                $(this).siblings('dd').children('s').removeClass('z-set').addClass('z-defalt');
            }
            
        }
    )
   


</script>
</body>
</html>
