<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>潮购值</title>
    <meta content="app-id=984819816" name="apple-itunes-app" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link href="css/comm.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/accountdetail.css">
</head>
<body>
    
<!--触屏版内页头部-->
<div class="m-block-header" id="div-header">
    <strong id="m-title">潮购值明细</strong>
    <a href="javascript:history.back();" class="m-back-arrow"><i class="m-public-icon"></i></a>
    <a href="/" class="m-index-icon"><i class="m-public-icon"></i></a>
</div>
<div class="total-money">
	<p class="m-title">107</p>
	<p>100潮购值=1元，支付时可用于抵扣</p>
</div>
<div class="a-detail">
	<fieldset>
	    <legend align="center">潮购值明细</legend>
	</fieldset>
	<div class="detail-items">
		<ul class="clearfix">
			<li  class="income">
				<a href="" class="items-con clearfix">
					<div class="fl">
						<p class="account-sort">潮购商品编码（R170631111025544588）通过充值获得潮购值</p>
						<p>2017-06-30 11:11:17</p>
					</div>
					<div class="fr price">
						<p>+5:00</p>
					</div>
				</a>
			</li>
			<li class="income">
				<a href="" class="items-con clearfix">
					<div class="fl">
						<p class="account-sort">注册获得潮购值</p>
						<p>2017-06-30 11:11:17</p>
					</div>
					<div class="fr price">
						<p>+5:00</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
    
<script src="js/jquery-1.11.2.min.js"></script>

</body>
</html>
