<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>揭晓结果</title>
    <meta content="app-id=984819816" name="apple-itunes-app" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="layui/css/layui.css">
    <link href="css/comm.css" rel="stylesheet" type="text/css" />
    <link href="css/lottery.css" rel="stylesheet" type="text/css" />
    <link href="css/goods.css" rel="stylesheet" type="text/css" />
</head>
<body fnav="2" class="g-acc-bg">
    
<!--触屏版内页头部-->
<div class="m-block-header" id="div-header">
    <strong id="m-title">揭晓结果</strong>
    <a href="javascript:history.back();" class="m-back-arrow"><i class="m-public-icon"></i></a>
    <a href="/" class="m-index-icon"><i class="m-public-icon"></i></a>
</div>


<div>
    <!--商品信息-->
    <div class="announced-detail clearfix">
        <ul>
            <li class="fl ann-pic">
                <a href="/v45/products/24486.do"><img src="picture/20170619104339314.jpg" /></a>
            </li>
            <li class="ann-con gray9">
                <p class="gray6">(第6潮)康师傅 金汤肥牛面 12杯 整箱装</p>价值：￥58.00
            </li>
        </ul>
    </div>

    <!--获得者信息-->
    <div class="bgColor-white clearfix">
        <div class="g-winn-con clearfix">
            <div class="winn-info clearfix">
                <p class="fl">
                    <a href="/v45/userpage/1012637776"><img src="picture/20160220160230171.jpg" /></a>
                </p>
                <dl class="gray9">
                    <dt>
                        <a href="/v45/userpage/1012637776" class="blue">不中就卸载YG-</a></dt>
                    <dd>
                        来自：
                    广东省
                    </dd>
                    <dd>
                        本潮参与： <i class="orange">
                            <a href='BuyDetail-12892067.do?rno=10000043&buynum=9' class="gray9"><i class="orange">9</i>人次>></a></i>
                    </dd>
                    
                    <dd class="ann-time">
                        揭晓时间：
                    2017-06-28 14:04:36.578
                    </dd>
                </dl>
                <div class="rNowTitle">获得者</div>
            </div>

            <div class="jsxq-ygm gray9 clearfix"><a href="/v45/lottery/calResult-12892067.do?goodsID=24486" class="gray9 fr">计算详情</a><cite>幸运潮购码：<i class="orange">10000043</i></cite></div>
        </div>
        <p class="declare">声明：所有商品及活动均与苹果公司（Apple Inc）无关。</p>
        <div class="state">
            <em></em>
            <span>我已阅读《666潮人购声明》</span>
        </div>
        <div class="img-btn">
            <a href="">商品晒单</a>
            <a href="">图文详情</a>
        </div>
    </div>
    <div class="listtab clearfix">
        <a href="javascript:;" class="current">参与记录</a>
        <a href="javascript:;" class="">历史获得者</a>
    </div>
    <div class="ann_btn part-record" style="display: block;">
        <!--所有参与记录-->
        <div class="ann_list">
            <div class="fl">
                <img src="images/goods2.jpg" alt="">
            </div>
            <div class="fl">
                <h3>被小冉</h3>
                <p>2017-06-25 15:38:12:645</p>
            </div>
            <div class="fr people-num">
                <span>16人次</span><s class="fr"></s>
            </div>
        </div>  
        <div class="ann_list">
            <div class="fl">
                <img src="images/goods2.jpg" alt="">
            </div>
            <div class="fl">
                <h3>被小冉</h3>
                <p>2017-06-25 15:38:12:645</p>
            </div>
            <div class="fr people-num">
                <span>16人次</span><s class="fr"></s>
            </div>
        </div>      
        <div class="ann_list">
            <div class="fl">
                <img src="images/goods2.jpg" alt="">
            </div>
            <div class="fl">
                <h3>被小冉</h3>
                <p>2017-06-25 15:38:12:645</p>
            </div>
            <div class="fr people-num">
                <span>16人次</span><s class="fr"></s>
            </div>
        </div>  
       <div class="ann_list">
            <div class="fl">
                <img src="images/goods2.jpg" alt="">
            </div>
            <div class="fl">
                <h3>被小冉</h3>
                <p>2017-06-25 15:38:12:645</p>
            </div>
            <div class="fr people-num">
                <span>16人次</span><s class="fr"></s>
            </div>
        </div>          
    </div>
    <div class="history-win" style="display: none;">
        <div class="win-list clearfix">
            <div class="win-left fl">
                <p class="chao">第2779潮购</p>
                <img src="images/goods2.jpg" alt="">
            </div>
            <div class="win-right fl">
                <p class="show-time">揭晓时间:2017-06-28 15:16:46:000</p>
                <p class="winner">获得者：<i>穿越狂信者</i></p>
                <p class="show-count">本潮购参与：1480人次</p>
                <p class="show-code">幸运潮购码：10003664</p>
            </div>
        </div>
        <div class="win-list clearfix">
            <div class="win-left fl">
                <p class="chao">第2779潮购</p>
                <img src="images/goods2.jpg" alt="">
            </div>
            <div class="win-right fl">
                <p class="show-time">揭晓时间: <i>2017-06-28 15:16:46:000</i></p>
                <p class="winner">获得者：<i>穿越狂信者</i></p>
                <p class="show-count">本潮购参与：<i>1480</i>人次</p>
                <p class="show-code">幸运潮购码：<i>10003664</i></p>
            </div>
        </div>
    </div>
    <div class="pro_foot"> 
        <a href="" class="">第10364潮正在进行中<span class="dotting"></span></a>
        <a href="javascript:;" class="shopping">立即参与</a>
    </div>
    
</div>
<div id="paypageDialog" class="pageDialogs clearfix" style="display: none">
    <div class="buy-Pop-up clearfix">    
        <div class="m-goods-info">        
            <cite class="fl"><img src="https://img.1yyg.net/goodspic/pic-70-70/20170817112507998.jpg"><b class="z-set"></b></cite>        
            <p class="fl">            
                <span class="gray3" id="spPeriod"><em class="orange"></em>第1潮</span>            
                <span class="gray9">剩余<i class="orange" id="iSurplus">53</i>人次 / 限购<i class="orange">5</i>人次</span>        
            </p>    
        </div>    
        <div class="m-goods-num clearfix">        
            <div class="control-num-con" id="divNumber">     <ul class="flex-box">                
                    <li>我要潮购</li>                
                    <li class="f-control-number box">                   
                        <div class="flex-box">
                            <i class="z-set z-less1 z-less2" id="num_del"></i>
                            <input id="i_num" type="tel" value="1" maxlength="7" surplus="53" class="box">
                            <i class="z-set z-add1" id="num_add"></i>                    
                        </div>                
                    </li>                
                    <li>人次</li>            
                </ul>        
                <p class="orange" id="pMsg"></p>        
            </div>        
            <div class="total-pay flex-box" id="divPayInfo">    <span>
                    <em class="gray3">账户总额</em>(￥<i>0.00</i>)
                </span>            
                <span class="orange">金额不足</span>
            </div>    
        </div>        
        <div class="m-goods-pay">        
            <a id="btnConfirmBuy" href="javascript:void();">使用其它方式支付</a>        
            <span class="gray6" id="p_buynext"><i class="z-set"></i>如被抢光自动参与最新一潮</span>    
        </div>   
    </div>
</div>

<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/all.js"></script>
<script src="layui/layui.js"></script>
<script>
    $('.listtab a').click(function(){
        $(this).addClass('current').siblings('a').removeClass('current');
        console.log($('.part-record').css('display'));
        if($('.part-record').css('display')=='block'){
            $('.part-record').css('display','none');
            $('.history-win').css('display','block');
        }else{
            $('.part-record').css('display','block');
            $('.history-win').css('display','none');
        }
    })

    $('.shopping').click(function(){
        layer.open({
            type: 1,
            title: false,
            content: $('#paypageDialog')
        })
    })

    $('.z-add1')

</script>
</body>
</html>
